.container {
    padding: 20px;
}

.searchBox {
    width: 100%;
    margin: 10px;
}

.antdList {
    width: 100%;
    margin: 10px;
}

.descriptionContainer {
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
}


.descriptionItem {
    color: black;
}

.serverName {
    font-weight: bolder;
}

.helpMessage {
    display: flex; 
    align-items: center;
    margin: 10px;
}

.helpMessage p {
    color: #1890ff;
    margin-left: 10px;
    font-size: smaller;
}

.list {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
}